body {
  margin: 0;
  padding: 10px;
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;
}

#play {
  font-size: 20px;
}

#stage {
  flex: 1;
}

.faux-fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}